<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
</head>
<body>

    <h1 class="mt-3">ユーザ情報を入力</h1>
        <form 
            action="#"
            th:action="@{/user}" 
            th:object="${userForm}"
            th:method="post" 
        > 
             <div>
                <label for="login_id">ログインID</label>
                <input type="text" id="login_id_input" th:field="*{login_id}"
                       >
                <!--/* エラーメッセージ */-->
                <span class="text-danger" 
                      th:if="${#fields.hasErrors('login_id')}" 
                      th:errors="*{login_id}"> userId error 
                </span>
            </div>
            
            <div>
                <label for="user_name">ユーザー名</label>
                <input type="text" id="user_name_input" th:field="*{user_name}">
                <!--/* エラーメッセージ */-->
                <span class="text-danger" 
                        th:if="${#fields.hasErrors('user_name')}" 
                        th:errors="*{user_name}"> userId error 
                </span>
            </div>
            <div>
                <label for="email">メールアドレス</label>
                <input type="text" id="email_input" th:field="*{email}">
                <span class="text-danger" 
                        th:if="${#fields.hasErrors('email')}" 
                        th:errors="*{email}"> userId error 
                </span>
            </div>
            <div>
                <label for="password">パスワード</label>
                <input type="password" id="password_input" th:field="*{password}">
                <span class="text-danger" 
                        th:if="${#fields.hasErrors('password')}" 
                        th:errors="*{password}"> userId error 
                </span>
            </div>
            <div>
                <label for="password_ready">パスワード確認用</label>
                <input type="password" id="password_ready_input" th:field="*{password_ready}">
                <span class="text-danger" 
                    th:if="${#fields.hasErrors('UnmatchedPasswordValid')}" 
                    th:errors="*{UnmatchedPasswordValid}"> userId error 
                </span>
                <!-- /* TODO パスワード確認用エラーメッセージが出ない */ -->
            </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">作成</button>
            <a href="list"  class="btn btn-secondary">キャンセル</a>
        </div>
    </form>
</body>
</html>